In [1]:
import pandas as pd

internal = pd.read_csv('Datathon_CHA_activities_2016-2020.csv')
internal.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,HubRandomID,Hub_ActivityID,ActivityDate,ProgrammeID,ChildParticipants,AdultParticipants,DSS_ClientParticipants,ReferralParticipants,EngagedCount,...,ProgrammeID.1,ProgrammeName,ProgrammeCategoryID,ShortName,ServiceTypeID,ProgrammeCategoryID.1,CategoryName,Status.1,StartDate,ShortName.1
0,0,15994,259,4/3/19,50,11,7,18,0,0,...,50,Playgroups and Early Years,1,Playgroups,4,1,Programmed Activities,C,1/1/10,PROG
1,1,15994,260,25/2/19,50,12,8,20,0,0,...,50,Playgroups and Early Years,1,Playgroups,4,1,Programmed Activities,C,1/1/10,PROG
2,2,15994,261,11/3/19,50,0,0,0,0,0,...,50,Playgroups and Early Years,1,Playgroups,4,1,Programmed Activities,C,1/1/10,PROG
3,3,15994,262,18/3/19,50,12,8,20,0,0,...,50,Playgroups and Early Years,1,Playgroups,4,1,Programmed Activities,C,1/1/10,PROG
4,4,15994,263,4/2/19,50,10,6,16,0,0,...,50,Playgroups and Early Years,1,Playgroups,4,1,Programmed Activities,C,1/1/10,PROG

In [2]:
pd.set_option('max_columns', 180)

In [3]:
internal.columns

Index(['Unnamed: 0', 'HubRandomID', 'Hub_ActivityID', 'ActivityDate',
       'ProgrammeID', 'ChildParticipants', 'AdultParticipants',
       'DSS_ClientParticipants', 'ReferralParticipants', 'EngagedCount',
       'LastModifiedBy', 'LastModifiedDateTime', 'StartTime', 'EndTime',
       'ExternalVolunteers', 'HubVolunteers', 'SchoolVolunteers', 'Status',
       'LastModifiedBy.1', 'LastModifiedDateTime.1', 'IsActive',
       'ProgrammeID.1', 'ProgrammeName', 'ProgrammeCategoryID', 'ShortName',
       'ServiceTypeID', 'ProgrammeCategoryID.1', 'CategoryName', 'Status.1',
       'StartDate', 'ShortName.1'],
      dtype='object')

In [10]:
internal['EngagedCount'].value_counts()

0    163150
Name: EngagedCount, dtype: int64

In [9]:
internal.columns

Index(['Unnamed: 0', 'HubRandomID', 'Hub_ActivityID', 'ActivityDate',
       'ProgrammeID', 'ChildParticipants', 'AdultParticipants',
       'DSS_ClientParticipants', 'ReferralParticipants', 'EngagedCount',
       'LastModifiedBy', 'LastModifiedDateTime', 'StartTime', 'EndTime',
       'ExternalVolunteers', 'HubVolunteers', 'SchoolVolunteers', 'Status',
       'LastModifiedBy.1', 'LastModifiedDateTime.1', 'IsActive',
       'ProgrammeID.1', 'ProgrammeName', 'ProgrammeCategoryID', 'ShortName',
       'ServiceTypeID', 'ProgrammeCategoryID.1', 'CategoryName', 'Status.1',
       'StartDate', 'ShortName.1'],
      dtype='object')

In [21]:
internal = internal[['HubRandomID', 'Hub_ActivityID', 'ActivityDate',
       'ProgrammeID', 'ChildParticipants', 'AdultParticipants', 'ProgrammeName', 'CategoryName']]

internal.describe(include='all')

,HubRandomID,Hub_ActivityID,ActivityDate,ProgrammeID,ChildParticipants,AdultParticipants,ProgrammeName,CategoryName
count,163150.000000,163150.000000,163150,163150.000000,163150.000000,163150.000000,163150,163150
unique,NaN,NaN,430,NaN,NaN,NaN,29,4
top,NaN,NaN,18/12/17,NaN,NaN,NaN,Parent engagement,Programmed Activities
freq,NaN,NaN,1079,NaN,NaN,NaN,27936,88458
mean,15189.556200,520290.987882,NaN,53.758388,5.988685,3.782654,NaN,NaN
std,2971.128235,179883.068454,NaN,7.080064,29.027974,15.705990,NaN,NaN
min,10011.000000,259.000000,NaN,45.000000,0.000000,0.000000,NaN,NaN
25%,12394.000000,534350.250000,NaN,48.000000,0.000000,0.000000,NaN,NaN
50%,14935.000000,575137.500000,NaN,50.000000,0.000000,0.000000,NaN,NaN
75%,18154.000000,616184.750000,NaN,59.000000,2.000000,4.000000,NaN,NaN
max,19871.000000,670065.000000,NaN,73.000000,2000.000000,1500.000000,NaN,NaN

In [23]:
len(internal['HubRandomID'].unique())

80

What does the 'typical hub' look like in terms of 
- engagement
- diversity of programs
- activities for children and adults

Normalise this between hubs. Is number of participants a good enough metric? Get distibution of engagement

How have the above trended over time?

Manual clustering - and seeing how hubs are indexed compared to the population.

Categorise into high/low

In [4]:
pd.set_option('max_columns', 180)
# pd.set_option('max_rows', 200000)
# pd.set_option('max_colwidth', 5000)

In [8]:
internal.describe(include = 'all')

,Unnamed: 0,HubRandomID,Hub_ActivityID,ActivityDate,ProgrammeID,ChildParticipants,AdultParticipants,DSS_ClientParticipants,ReferralParticipants,EngagedCount,LastModifiedBy,LastModifiedDateTime,StartTime,EndTime,ExternalVolunteers,HubVolunteers,SchoolVolunteers,Status,LastModifiedBy.1,LastModifiedDateTime.1,IsActive,ProgrammeID.1,ProgrammeName,ProgrammeCategoryID,ShortName,ServiceTypeID,ProgrammeCategoryID.1,CategoryName,Status.1,StartDate,ShortName.1
count,163150.000000,163150.000000,163150.000000,163150,163150.000000,163150.000000,163150.000000,163150.0,163150.000000,163150.0,163150,163150,27134,27134,163150.000000,163150.000000,163150.000000,163150,163150,163150,163150.000000,163150.000000,163150,163150.000000,163150,163150.000000,163150.000000,163150,163150,163150,163150
unique,NaN,NaN,NaN,430,NaN,NaN,NaN,508.0,NaN,NaN,3,10562,78,98,NaN,NaN,NaN,6,3,10,NaN,NaN,29,NaN,29,NaN,NaN,4,1,1,4
top,NaN,NaN,NaN,13/11/17,NaN,NaN,NaN,0.0,NaN,NaN,dbo,41:12.8,9:00:00,11:00:00,NaN,NaN,NaN,Closed,unisuper\SheelaN,23:39.9,NaN,NaN,Parent engagement,NaN,Parents,NaN,NaN,Programmed Activities,C,1/1/10,PROG
freq,NaN,NaN,NaN,1079,NaN,NaN,NaN,84598.0,NaN,NaN,147448,119337,7274,2926,NaN,NaN,NaN,120045,151819,80335,NaN,NaN,27936,NaN,27936,NaN,NaN,88458,163150,163150,88458
mean,81574.500000,15189.556200,520290.987882,NaN,53.758388,5.988685,3.782654,NaN,1.006184,0.0,NaN,NaN,NaN,NaN,0.062679,0.053472,0.043898,NaN,NaN,NaN,0.952718,53.758388,NaN,1.793325,NaN,14.966601,1.793325,NaN,NaN,NaN,NaN
std,47097.492546,2971.128235,179883.068454,NaN,7.080064,29.027974,15.705990,NaN,11.856494,0.0,NaN,NaN,NaN,NaN,1.829064,0.497211,2.901615,NaN,NaN,NaN,0.212241,7.080064,NaN,0.919536,NaN,36.204133,0.919536,NaN,NaN,NaN,NaN
min,0.000000,10011.000000,259.000000,NaN,45.000000,0.000000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,45.000000,NaN,1.000000,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN
25%,40787.250000,12394.000000,534350.250000,NaN,48.000000,0.000000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,1.000000,48.000000,NaN,1.000000,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN
50%,81574.500000,14935.000000,575137.500000,NaN,50.000000,0.000000,0.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,1.000000,50.000000,NaN,1.000000,NaN,4.000000,1.000000,NaN,NaN,NaN,NaN
75%,122361.750000,18154.000000,616184.750000,NaN,59.000000,2.000000,4.000000,NaN,0.000000,0.0,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,1.000000,59.000000,NaN,3.000000,NaN,10.000000,3.000000,NaN,NaN,NaN,NaN
max,163149.000000,19871.000000,670065.000000,NaN,73.000000,2000.000000,1500.000000,NaN,1188.000000,0.0,NaN,NaN,NaN,NaN,500.000000,28.000000,580.000000,NaN,NaN,NaN,1.000000,73.000000,NaN,5.000000,NaN,145.000000,5.000000,NaN,NaN,NaN,NaN

correlations between 
- number of activities overall and number of participants - ratio?
- number of different kinds of activities and participants

indexing - compare to population

indexing over time - do any behave differently?


attributes - who are they  
behaviours - what have they done, what will they do?  
recommendations - what should they do, what should we do?  

developers.google.com/machine-learning/guides/good-data-analysis
validation
evaluation 
description